
.navbar{
    background-color: #333;
}
.navlist{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.navlist li{
    float: left;
    
}
.navlist li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 10px;
}
.navlist li a:hover{
    background-color: #111;
}

.dropdown{
    float: left;
    overflow: hidden;

}
.dropdown .dropdown-content{
    display: none;
    position: absolute;
}
.dropdown .dropdown-content a{
   float: none;
   color: black;
    display: block;
}


.dropdown:hover .dropdown-content{
    display: block;
    background-color: #ddd;
}